* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.89);
  display: flex;
  place-items: center;
  height: 100vh;
}
main {
  display: grid;
  grid-template-areas: 'a a a b b'
   'c c d d d'
    'c c e e e';
    gap: 10px;
    width: 50%;
    margin: auto;
}
main div {
  padding: 2em;
  text-align: center;
}
.flex-1 {
  background-color: orangered;
  grid-area: a;
  height: 20vh;
}
.flex-2 {
  background-color: darkorange;
  grid-area: b;
}
.flex-3 {
  background-color: darkgreen;
  grid-area: c;
}
.flex-4 {
  background-color: cornflowerblue;
  grid-area: d;
}
.flex-5 {
  background-color: cornflowerblue;
  grid-area: e;
  height: 30vh;
}
